# Ignore all files in this directory
*

# Don't ignore .gitignore and README
!.gitignore
!README.md

# Don't ignore subdirectories, but ignore their contents
!*/
*/*/

/adult.data
/adult.test
/pipeline.pkl
/processed_train_data.csv
/processed_test_data.csv
/airbnb.csv
/processed_train_features.csv
/processed_test_features.csv
/processed_train_target.csv
/processed_test_target.csv
